@model CustomerDataRecord.Models.Company
           <div class="container alert alert-warning notfoundbox noCustomer">
    <h3>No Company was found for this customer !.</h3>
</div>

<script src="~/Scripts/DetailsViews.js"></script>
