@model CustomerDataRecord.Models.Orders

<div class="container alert alert-warning notfoundbox noCustomer">
    <p>No order was found for this customer !.</p>
</div>
<script src="~/Scripts/DetailsViews.js"></script>
