@model CustomerDataRecord.Models.Employees          
<div class="container alert alert-warning notfoundbox noCustomer">
    <p>No Employee was found for this company.</p>
</div>


<script src="~/Scripts/DetailsViews.js"></script>